.chart-series-line {
    -fx-stroke-width: 2px; /* Set the desired line thickness */
}

.chart-title {
    -fx-alignment: center;
}

.chart-legend {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-label-padding: 0 0 0 0;
    -fx-end-margin: 100;
}