.root{
    -fx-font-family: "Segoe UI";
}

.energy-bar-high .bar {
    -fx-background-color: #00FF00;
    -fx-background-insets: 0, 1;
}

.energy-bar-medium .bar {
    -fx-background-color: #FFA500;
    -fx-background-insets: 0, 1;
}

.energy-bar-low .bar {
    -fx-background-color: #FF0000;
    -fx-background-insets: 0, 1;
}

.energy-bar-high .track {
    -fx-fill: #00FF00;
    -fx-stroke: #00FF00;
    -fx-stroke-width: 1;
}

.energy-bar-medium .track {
    -fx-fill: #FFA500;
    -fx-stroke: #FFA500;
    -fx-stroke-width: 1;
}

.energy-bar-low .track {
    -fx-fill: #FF0000;
    -fx-stroke: #FF0000;
    -fx-stroke-width: 1;
}

.dominant-animal {
    -fx-background-color: lightseagreen;
}

.preferred-field {
    -fx-background-color: yellow;
}

.dominant-animal, .preferred-field {
    -fx-min-width: 33;
    -fx-min-height: 33;
    -fx-max-width: 33;
    -fx-max-height: 33;
}

.selected-element {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-min-width: 35;
    -fx-min-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
}